<section class="block container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        recusandae commodi sit. Aliquam possimus veritatis suscipit magni
        necessitatibus ut facilis.
      </p>
    </header>
    <div>
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, rem!
        </div>
      </div>
    </div>
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        recusandae commodi sit. Aliquam possimus veritatis suscipit magni
        necessitatibus ut facilis.
      </p>
    </div class="container">
</section>